/* css styles */

.sidebar-title, .mt-2 {
  margin-top: 0 !important;
}

.sidebar-title, .sidebar-navigation a, h3.listing-title {
  color: #2196f3 !important;
}

.quarto-title .quarto-categories {
    display: none;
    column-gap: 0.4em;
    padding-bottom: 0.5em;
    margin-top: 0.25em;
}

.quarto-title-meta-heading {
    display: none;
    text-transform: uppercase;
    margin-top: 1em;
    font-size: .9em;
    font-weight: 400;
}

#title-block-header.quarto-title-block.default .description, #title-block-header.quarto-title-block.default .abstract {
    margin-top: 0.25em;
    margin-bottom: 1.25em;
    font-style: italic;
    font-size: smaller;
}

.d-lg-block {
    display: block !important;
}

p.date {
  display: block !important;
  color: slategray;
}

.quarto-secondary-nav-title {
    margin-top: 0.3em;
    color: #595959;
    padding-top: 4px;
    display: none;
}

.poem ul {
  list-style: none;
  padding: 0;
}

* {
  font-size: 1.00em;
}

li {
  font-size: 1.00em;
}

div.listing-description {
  font-size: 0.85em;
}

h3.no-anchor.listing-title {
  font-size: 1.0em;
}